@model IEnumerable<ASPHome.Models.Loan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<h2>Loan Details </h2>
<br />

<h4>Few steps to complete application......</h4>

<p>Please follow the link below (page2) </p>

<br />


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EMI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tenure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanAmount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EMI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ROI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanAmount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>


    }

</table>
<br />
<h4>Next Step.....</h4>
<div>
    <button><a href="https://localhost:44328/Personals">Enter PersonalDetails</a></button>
</div>
